// Colors
$white: #fefefe;
$gray-50: #f1f1f1;
$gray-500: #444444;
$black: #010101;
$pink-25: #f5b0b940;
$pink-50: #f5b0b980;
$pink-100: #f5b0b9;
$pink-200: #bc5b4b;
$pink-300: #941e02;

// Border radius
$radius-md: 4px;
$radius-full: 50%;
